/* -------------------------------------------------------------------------- */
/*                                  VARIABLES                                 */
/* -------------------------------------------------------------------------- */
$transitionValue: 0.3s;

$blurPx: 20px;

/* -------------------------------------------------------------------------- */
/*                                  SELECTORS                                 */
/* -------------------------------------------------------------------------- */
a,
button {
  transition: $transitionValue;
}
